/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
}

header,
footer {
    width: 100%;
    background: #EEE;
    color: black;
}

header{ 
.logo {
        width: 70px;
    }

    .header_container {
        height: 120px;
        display: flex;
    }

    a{
        display: flex;
        list-style: none;
        padding-left: 1rem;
        font-size: small;
        padding-top: 1rem;
        color: black;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 5px solid rgb(0, 119, 255);
    }
}
.jumbotron_custom{
    height: 400px;
    object-fit: cover;
    position: relative;
    overflow: hidden;

    img{
        height: 150%;
        width: 100%;
    }
    .btn_custom{
        transform: translateY(-50%);
    }
}

.thumb-container{
    width: 200px;
    height: 200px;
    object-fit: cover;
    img{
        height: 170px;
        width: 170px;
    }
}
